body{
    margin: 0;
    padding: 0;
    background-color: black;   
}
.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom:0px;
    font-size: 28px;
    font-family: 'Young Serif', serif;
    color: white;
}
.container{
    width:550px;
    height: auto;
    background-color: aliceblue;
    margin: 15px auto;
 
}
.header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.select{
    width: 300px;
    border-radius: 4px;
}
.button{
    border-radius: 8px;
    border: none;
}
.button:hover{
    border: 2px solid blue;
    border-radius: 8px;
    cursor: pointer;
}
.colorSchemeDisplay{
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: row;
}
.colorHexDisplay{
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

@media (max-width: 480px){
    .container{
        width:320px;
        height:auto;
        margin: 10px auto;
    }
    .title{
        margin: 20px auto;
        font-size:16px;
        text-align: center;
    }
    .select{
        width: 100px;
    }
    .colorSchemeDisplay{
        width: 320px;
        height: 250px;
    }
    .colorHexDisplay{
        width: 320px;
        height: 20px;
        font-size: 10px;
       
    }
}
